@charset "UTF-8";
/* Importamos las variables, los mixins, las funciones */
/*** Variables ***/
/*** FIN Variables ***/
/*** Mixins ***/
/*** Media querys mixins ***/
/* Aquí tenemos la sección de media querys, donde hacemos la comprobación del tamaño de la pantalla
* el @content esta todo especificado en el archivo @_responsive.scss
*/
/* Esta media query es para la impresión de pantalla */
/*** FIN media query mixins ***/
/*** FIN mixins ***/
/*** Funciones ***/
/* Aquí generamos una función que lo que hace, esque le pasamos el color que tenemos actualmente cubriendo el contenedor
* Y lo que hacemos esque si es un color claro, nos retornará un color negro, si es un color oscuro, nos retornará un color blanco
* Esta función la usamos para cuando por ejemplo hacemos un :hover de un elemento y cambia de color, automáticamente el detecte
* que se cambia el color del fondo, para adaptar el color de la letra y que siempre sea legible, es una forma de hacer nuestra web
* más Accesible a los usuarios y que no tengan problemas de lectura
*/
/*** FIN funciones ***/
/*** Botones ***/
/* Esto no son variables ni mixins pero son unos botones generados, que alomejor podemos reutilizar por eso los he dejado
* en esta hoja
*/
.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #72ffdf;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c5bfbf;
  color: #333; }

/* Como los dos botones tienen la misma base lo que hacemos esque primera declaramos el boton y luego añadimos el @extend para
* indicar que hereda esas propiedades
* realmente se podria hacer de otra forma como por ejemplo
*    .btn{
*        display: block;
*        padding: 0.5rem 1rem;
*        border: 0;
*        margin-bottom: 0.3rem;
*        &:hover{
*            background: $secondary-color;
*            color: set-text-color($secondary-color);
*        }
*        &-dark{
*            @extend .btn;
*            background: darken($primary-color, 50);
*            color: #fff;
*            &:hover{
*               background: $secondary-color;
*               color: set-text-color($secondary-color);
*           }
*        }
*        &-light{
*            @extend .btn;
*            background: lighten($primary-color, 50);
*            color: #333;
*            &:hover{
*               background: $secondary-color;
*               color: set-text-color($secondary-color);
*           }
*        }
*    }
* Con esto conseguimos ahorrarnos un par de lineas, porque automaticamente los botones heredan el selector :hover
* y no hay que especificarlo
*/
/*** FIN botones ***/
/* Importamos el CSS del menu */
/*** Estilo Menu ***/
/*** Estilo menu hamburguesa ***/
.menu__btn {
  /* Establecemos la posición del menu hamburguesa absoluto*/
  position: absolute;
  /* Le establecemos un z-index elevado para que no se tape por otros elementos */
  z-index: 3;
  /* Le indicamos la posicion 35 px por el lado derecho y 35 px de arriba*/
  right: 35px;
  top: 35px;
  /*  Y añadimos que cuando pasemos el cursos por encima cambie la forma, para así dar efecto de que es un boton*/
  cursor: pointer;
  /* Suaviza los efectos de transición */
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  /* Rotate Into X With Menu Lines*/ }
  .menu__btn .menu__line {
    /* Aquí generamos las lines del menu hamburguesa*/
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    /* Suaviza los efectos de transición */
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .menu__btn.close {
    /* Cuando clickamos en el boton del menu hamburguesa, JS pondrá una clase más a los elementos HTML
        * con esto conseguimos poder manipular el elemento de una forma diferente, en el momento que cambie
        */
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
    .menu__btn.close .menu__line {
      /* Rotación de la primera linea para hacer la X de cerrar */
      /* Esta linea hacemos que desaparezca porque solo nos interesan dos lineas */
      /* Rotación de la tercera linea para hacer la X */ }
      .menu__btn.close .menu__line:nth-child(1) {
        -webkit-transform: rotate(45deg) translate(5px, 5px);
        -ms-transform: rotate(45deg) translate(5px, 5px);
        transform: rotate(45deg) translate(5px, 5px); }
      .menu__btn.close .menu__line:nth-child(2) {
        opacity: 0; }
      .menu__btn.close .menu__line:nth-child(3) {
        -webkit-transform: rotate(-45deg) translate(7px, -6px);
        -ms-transform: rotate(-45deg) translate(7px, -6px);
        transform: rotate(-45deg) translate(7px, -6px); }

/*** FIN estilo menu hamburguesa ***/
/*** Menu overlay ***/
.menu {
  /* Ponemos la posición fija del menu y le indicamos que este invisible, para que solo se vea en el momento que le
    * hagamos click al menu hamburguesa
    */
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    /* En el momento que se añada esta clase al menu, lo hacemos visible*/
    visibility: visible; }
  .menu__branding, .menu__nav {
    /* Iniciamos flex y lo disponemos en columna*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu__nav {
    margin: 0;
    padding: 0;
    background: #393333;
    /* Quitamos el estilo de las listas */
    list-style: none;
    /* Esto hace que el menu empiece desde fuera de la página */
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    /* Suaviza los efectos de transición */
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    .menu__nav.show {
      /* Con esto conseguimos hacer el efecto del menu que aparezca por arriba*/
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .menu__branding {
    background: #463f3f;
    /* Suaviza los efectos de transición */
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
    .menu__branding.show {
      /* Efecto para que aparezca el menu por abajo */
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .menu__branding .portrait {
      width: 250px;
      height: 250px;
      clip-path: circle(50% at 50% 50%); }
  .menu .nav__item {
    /* Iniciamos los items fuera de la página*/
    -webkit-transform: translate3d(600px, 0, 0);
    transform: translate3d(600px, 0, 0);
    /* Suaviza los efectos de transición */
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    .menu .nav__item.show {
      /* Efecto para que aparezcan por la derecha los elementos */
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .menu .nav__item.current > a {
      color: #72ffdf; }
  .menu .nav__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    /* Suaviza los efectos de transición */
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    .menu .nav__link:hover {
      color: #72ffdf; }

/*** FIN menu overlay ***/
/*** Sección funciones de animaciones ***/
/* Con esto generamos un bucle, para que los elementos aparezcan por la derecha y haya 0.1s de diferencia entre uno y otro*/
.nav__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.nav__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.nav__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.nav__item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s; }

.nav__item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s; }

/*** FIN sección funciones de animaciones ***/
/* Hacemos que el logo tenga una posición fija y que siempre aparezca arriba a la izquierda */
.header__logo {
  position: fixed;
  top: 35px;
  left: 10px; }

.form {
  font-size: 1.5em;
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "Name Email Edad" "Gender Gender Gender" "Gender Gender Gender" "Birth Color File" "Reason Reason Reason" "Reason Reason Reason";
  grid-template-columns: repeat(3, 1fr); }
  .form-block1 {
    grid-area: Name; }
  .form-block2 {
    grid-area: Email; }
  .form-block3 {
    grid-area: Edad; }
  .form-block4 {
    grid-area: Gender; }
  .form-block5 {
    grid-area: Birth; }
  .form-block6 {
    grid-area: Color; }
  .form-block7 {
    grid-area: File; }
  .form-block8 {
    grid-area: Reason; }
  .form .form__name:valid, .form .form__email:valid, .form .form__color:valid {
    border-right: 5px green solid; }
  .form .form__name:focus:invalid, .form .form__email:focus:invalid, .form .form__color:focus:invalid {
    border-right: 5px red solid; }
  .form .form__name, .form .form__email, .form .form__age, .form .form__birth, .form .form__file {
    padding: 5px;
    font-size: 16px;
    margin-left: 10px; }

/* Aquí está el CSS que será igual para todas las páginas*/
* {
  /*Aquí definimos que todos los elementos tengo el box-sizing: border-box
  * Se puede hacer así o se puede crear un mixin para ello e introducirlo en todos los elementos que lo necesiten*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  /* importamos el mixin background para establecer el fondo */
  /* En este mixin comprobamos si la variable $show-home-image esta a true */
  /* Si es true pone la imagen declarado en $home-image , posición fija y que cubra toda el bloque*/
  /* Declaramos el color del fondo*/
  background: #463f3f;
  /* Invocamos la función que comprueba el color primario, si es un color oscuro, asigna el color de la letra blanca y 
  * si por el contrario es un color claro, asigna un color de letra negro */
  color: #fff;
  height: 100%;
  margin: 0;
  /* Establecemos el font family de la página */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* Aquí establecemos la distancia entre lineas */
  line-height: 1.5; }
  body.body__img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body.body__img:after {
      /* Aquí lo que usamos es un selector after, vacío para ponerle una capa intermedia entre el fondo y el contenido de la
                * página, y haciendolo opca para que podamos ver el fondo
                * Hay diversas formas de hacer esto, otra forma sería generar un elemento vacío en el HTML y añadiendole una clase
                * definiriamos todos los atributos CSS y listo, pero de esta forma nos evitamos crear ese elemento
                */
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      /* Con esto conseguimos un fondo degradado de izquierda a derecha, con opacidad, de un color gris hacia un color más negro */
      background: linear-gradient(70deg, rgba(70, 63, 63, 0.7), black); }

h1,
h2,
h3 {
  margin: 0;
  /* Ancho de la letra */
  font-weight: 400; }
  h1.heading__text,
  h2.heading__text,
  h3.heading__text {
    /* Tamaño de la letra al ser un tamaño relativo, este se multiplicará por el tamaño de la letra
    * es decir si el tamaño de letra son 10px se multiplicará por el valor que le damos a continuación*/
    font-size: 6rem; }
  h1.heading__subtext,
  h2.heading__subtext,
  h3.heading__subtext {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(75, 68, 68, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.heading__text-secondary {
  color: #72ffdf; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #72ffdf;
        /* Suaviza los efectos de transición */
        -webkit-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
  main.home {
    overflow: hidden; }
    main.home h1 {
      margin-top: 20vh; }

/*** Página Sobre mi ***/
/*** Contenedor principal ***/
.about__info {
  /* Iniciamos Grid*/
  display: -ms-grid;
  display: grid;
  /* Separación entre las rejillas */
  grid-gap: 30px;
  -ms-grid-rows: auto 30px auto;
  /* Indicamos las areas de Grid */
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  /* Le indicamos el número de columnas que queremos y lo que queremos que ocupe, en este caso queremos
    * 3 columnas de 1fr cada una
    */
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  /*** Sección información personal ***/
  /*** FIN información personal ***/
  /*** Cajas trabajo ***/
  /* Los siguientes elementos solamente indicamos el area de grid en la que se encuentran*/
  /*** FIN Cajas trabajos ***/
  /*** Sección contenedor trabajos ***/
  /* Este elemento es el contenedor de los tres trabajos*/
  /*** FIN sección contenedor trabajos ***/ }
  .about__info .about__info__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    /* Indicamos el nombre del area de grid que ocupará este elemento */
    grid-area: bioimage;
    margin: auto;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.65, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0)));
    /* Decimos que el border sea solido de 3 pixeles y del color secundario*/
    border: #72ffdf 3px solid; }
  .about__info .about__info__description {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    /* Area de grid */
    grid-area: bio;
    /* El tamaño de letra se multiplicará por 1.5rem */
    font-size: 1.5rem; }
  .about__info .about__job-1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: job1; }
  .about__info .about__job-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: job2; }
  .about__info .about__job-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    grid-area: job3; }
  .about__info .about__job {
    /* Aclaramos un poco el fondo*/
    background: #534b4b;
    padding: 0.5rem;
    /* Con esto generamos una franja en el borde de bajo de la caja con el color secundario*/
    border-bottom: #72ffdf 5px solid; }

.heading__text_description {
  font-family: 'Felipa', cursive; }

.about__job__description {
  font-family: 'Felipa', cursive; }

/*** FIN Página Sobre mi ***/
/*** Página sección proyectos ***/
.work__projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.7rem;
  -ms-grid-columns: 1fr 0.7rem 1fr 0.7rem 1fr;
  grid-template-columns: repeat(3, 1fr); }
  .work__projects img {
    width: 100%;
    border: 3px #fff solid; }
    .work__projects img:hover {
      opacity: 0.5;
      border-color: #72ffdf;
      /* Suaviza los efectos de transición */
      -webkit-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out; }

/*** FIN página proyectos ***/
/*** Página contact ***/
@font-face {
  font-family: 'IndieFlower';
  src: url("fonts/IndieFlower.ttf"); }

.contact__container {
  font-family: IndieFlower;
  /* Iniciamos flexbox */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Con esta propiedad hacemos que en el momento que no quepan más en la misma fila se irá a la siguiente fila*/
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* Distribuye los elementos desde el centro con la misma distancia unos de otros */
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  /* Los alinea al centro*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem; }
  .contact__container article {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    /* Incluimos el mixin para hacer una trasicion poco a poco*/
    /* Suaviza los efectos de transición */
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    .contact__container article:hover {
      /* En el momento que el usuario pase el ratón por encima de las cajas, modificará el tamaño de las cajas,
            * modificará el color de fondo del primario al secundario y aplicaremos la función para que en caso necesario cambie
            * el color del texto
            * Con esto conseguimos un efecto de movimiento pero lo unico que hemos hecho es un cambio de tamaño
            */
      padding: 0.5rem 1.5rem;
      background: #72ffdf;
      color: #000; }
      .contact__container article:hover span {
        /* Siempre que se modifican colores por el hover debemos aplicar la función, para hacer visible siempre nuestros textos
                * es importante hacer accesible nuestra web y debemos procurar que sea visible y leible todo el contenido
                */
        color: #000; }

/*** FIN Página contact ***/
/*** Footer ***/
.footer {
  text-align: center;
  padding: 1rem;
  background: #2b2727;
  color: #fff;
  height: 60px; }

/*** FIN Footer ***/
/*** Content de las media querys ***/
/* En este archivo incluimos todo lo que debe hacer el navegador dependiendo del tamaño de la pantalla
* esto luego lo implementaremos en el archivo de variables&mixins.scss */
/*** Media query para pantallas grandes ***/
@media screen and (min-width: 1171px) {
  /* Organiza el contenido en una plantilla grid en 4 columnas de 1fr */
  .work__projects {
    -ms-grid-columns: 1fr [4];
    grid-template-columns: repeat(4, 1fr); } }

/*** Media query para pantallas grandes ***/
@media screen and (min-width: 769px) and (max-width: 1170px) {
  /* Organiza el contenido en una plantilla grid en 3 columnas de 1fr */
  .work__projects {
    -ms-grid-columns: 1fr [3];
    grid-template-columns: repeat(3, 1fr); } }

/*** Media query para pantallas medias ***/
@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    main .heading__text {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu__nav,
  aside.menu__branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu__nav.show,
    aside.menu__branding.show {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .menu__nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu__branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
    .menu__branding .portrait {
      background-size: cover;
      background-position: 49%, 0;
      width: 150px;
      height: 150px; }
  .about__info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .work__projects {
    -ms-grid-columns: 1fr [2];
    grid-template-columns: repeat(2, 1fr); } }

/*** Media query para pantallas pequeñas ***/
@media screen and (max-width: 500px) {
  main.home h1 {
    margin-top: 10vh; }
  .work__projects {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; } }

@media print {
  @page {
    size: A4;
    :left {
      margin-left: 3cm; }
    :right {
      margin-left: 4cm; } }
  .header__logo {
    visibility: hidden; }
  .heading__text {
    color: black; }
    .heading__text-secondary {
      color: #72ffdf; }
  .heading__subtext {
    color: black; }
  .icons {
    visibility: hidden; }
  .menu,
  .menu__branding,
  .portrait,
  .menu__nav,
  .nav__item {
    visibility: hidden; }
  .about__info {
    display: -ms-grid;
    display: grid;
    grid-template-areas: "bio" "job1" "job2" "job3";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .about__info__img {
    visibility: hidden; }
  .btn-light {
    visibility: hidden; }
  .btn-dark {
    visibility: hidden; }
  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; }
  .heading__text-secondary {
    color: black; }
  em {
    color: #72ffdf; } }
