/*** Página Sobre mi ***/

/*** Contenedor principal ***/
.about__info {
  /* Iniciamos Grid*/
  display: -ms-grid;
  display: grid;
  /* Separación entre las rejillas */
  grid-gap: 30px;
  -ms-grid-rows: auto 30px auto;
  /* Indicamos las areas de Grid */
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";

  /* Le indicamos el número de columnas que queremos y lo que queremos que ocupe, en este caso queremos
    * 3 columnas de 1fr cada una
    */
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);

  /*** Sección información personal ***/

  .about__info__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    /* Indicamos el nombre del area de grid que ocupará este elemento */
    grid-area: bioimage;
    margin: auto;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      color-stop(0, rgba(0, 0, 0, 1)),
      color-stop(0.35, rgba(0, 0, 0, 1)),
      color-stop(0.5, rgba(0, 0, 0, 0)),
      color-stop(0.65, rgba(0, 0, 0, 0)),
      color-stop(1, rgba(0, 0, 0, 0))
    );
    /* Decimos que el border sea solido de 3 pixeles y del color secundario*/
    border: $secondary-color 3px solid;
  }
  .about__info__description {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    /* Area de grid */
    grid-area: bio;
    /* El tamaño de letra se multiplicará por 1.5rem */
    font-size: 1.5rem;
  }
  /*** FIN información personal ***/

  /*** Cajas trabajo ***/

  /* Los siguientes elementos solamente indicamos el area de grid en la que se encuentran*/
  .about__job-1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: job1;
  }
  .about__job-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: job2;
  }
  .about__job-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    grid-area: job3;
  }
  /*** FIN Cajas trabajos ***/
  /*** Sección contenedor trabajos ***/

  /* Este elemento es el contenedor de los tres trabajos*/
  .about__job {
    /* Aclaramos un poco el fondo*/
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    /* Con esto generamos una franja en el borde de bajo de la caja con el color secundario*/
    border-bottom: $secondary-color 5px solid;
  }
  /*** FIN sección contenedor trabajos ***/
}
.heading__text_description{
  font-family: 'Felipa', cursive;
}
.about__job__description{
  font-family: 'Felipa', cursive;
}

/*** FIN Página Sobre mi ***/
