/*** Página contact ***/
  @font-face { 
            font-family: 'IndieFlower';
            src: url('fonts/IndieFlower.ttf');
        }
.contact__container {
  font-family: IndieFlower;
  /* Iniciamos flexbox */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Con esta propiedad hacemos que en el momento que no quepan más en la misma fila se irá a la siguiente fila*/
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* Distribuye los elementos desde el centro con la misma distancia unos de otros */
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  /* Los alinea al centro*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;
  article {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    /* Incluimos el mixin para hacer una trasicion poco a poco*/
    @include easeOut;
    &:hover {
      /* En el momento que el usuario pase el ratón por encima de las cajas, modificará el tamaño de las cajas,
            * modificará el color de fondo del primario al secundario y aplicaremos la función para que en caso necesario cambie
            * el color del texto
            * Con esto conseguimos un efecto de movimiento pero lo unico que hemos hecho es un cambio de tamaño
            */
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        /* Siempre que se modifican colores por el hover debemos aplicar la función, para hacer visible siempre nuestros textos
                * es importante hacer accesible nuestra web y debemos procurar que sea visible y leible todo el contenido
                */
        color: set-text-color($secondary-color);
      }
    }
  }
}
/*** FIN Página contact ***/
