.form {
  font-size: 1.5em;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "Name Email Edad"
    "Gender Gender Gender"
    "Gender Gender Gender"
    "Birth Color File"
    "Reason Reason Reason"
    "Reason Reason Reason";
  grid-template-columns: repeat(3, 1fr);
  &-block1 {
    grid-area: Name;
  }
  &-block2 {
    grid-area: Email;
  }
  &-block3 {
    grid-area: Edad;
  }
  &-block4 {
    grid-area: Gender;
  }
  &-block5 {
    grid-area: Birth;
  }
  &-block6 {
    grid-area: Color;
  }
  &-block7 {
    grid-area: File;
  }
  &-block8 {
    grid-area: Reason;
  }
  & .form__name:valid, .form__email:valid, .form__color:valid{
    border-right: 5px green solid;
  }
  & .form__name:focus, .form__email:focus, .form__color:focus{
      &:invalid{
          border-right: 5px red solid;
      }
  }
  & .form__name, .form__email, .form__age, .form__birth, .form__file{
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
  }
}