/*** Estilo Menu ***/

/*** Estilo menu hamburguesa ***/

.menu__btn {
  /* Establecemos la posición del menu hamburguesa absoluto*/
  position: absolute;
  /* Le establecemos un z-index elevado para que no se tape por otros elementos */
  z-index: 3;
  /* Le indicamos la posicion 35 px por el lado derecho y 35 px de arriba*/
  right: 35px;
  top: 35px;
  /*  Y añadimos que cuando pasemos el cursos por encima cambie la forma, para así dar efecto de que es un boton*/
  cursor: pointer;
  @include easeOut;
  .menu__line {
    /* Aquí generamos las lines del menu hamburguesa*/
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut;
  }
  /* Rotate Into X With Menu Lines*/
  &.close {
    /* Cuando clickamos en el boton del menu hamburguesa, JS pondrá una clase más a los elementos HTML
        * con esto conseguimos poder manipular el elemento de una forma diferente, en el momento que cambie
        */
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    .menu__line {
      /* Rotación de la primera linea para hacer la X de cerrar */
      &:nth-child(1) {
        -webkit-transform: rotate(45deg) translate(5px, 5px);
        -ms-transform: rotate(45deg) translate(5px, 5px);
        transform: rotate(45deg) translate(5px, 5px);
      }
      /* Esta linea hacemos que desaparezca porque solo nos interesan dos lineas */
      &:nth-child(2) {
        opacity: 0;
      }
      /* Rotación de la tercera linea para hacer la X */
      &:nth-child(3) {
        -webkit-transform: rotate(-45deg) translate(7px, -6px);
        -ms-transform: rotate(-45deg) translate(7px, -6px);
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}
/*** FIN estilo menu hamburguesa ***/

/*** Menu overlay ***/
.menu {
  /* Ponemos la posición fija del menu y le indicamos que este invisible, para que solo se vea en el momento que le
    * hagamos click al menu hamburguesa
    */
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    /* En el momento que se añada esta clase al menu, lo hacemos visible*/
    visibility: visible;
  }
  &__branding,
  &__nav {
    /* Iniciamos flex y lo disponemos en columna*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  &__nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    /* Quitamos el estilo de las listas */
    list-style: none;
    /* Esto hace que el menu empiece desde fuera de la página */
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    @include easeOut;
    &.show {
      /* Con esto conseguimos hacer el efecto del menu que aparezca por arriba*/
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  &__branding {
    background: $primary-color;
    @include easeOut;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    &.show {
      /* Efecto para que aparezca el menu por abajo */
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .portrait {
      width: 250px;
      height: 250px;
      clip-path: circle(50% at 50% 50%);
    }
  }
  .nav__item {
    /* Iniciamos los items fuera de la página*/
    -webkit-transform: translate3d(600px, 0, 0);
    transform: translate3d(600px, 0, 0);
    @include easeOut;
    &.show {
      /* Efecto para que aparezcan por la derecha los elementos */
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    &.current > a {
      color: $secondary-color;
    }
  }
  .nav__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeOut;
    &:hover {
      color: $secondary-color;
    }
  }
}

/*** FIN menu overlay ***/

/*** Sección funciones de animaciones ***/

/* Con esto generamos un bucle, para que los elementos aparezcan por la derecha y haya 0.1s de diferencia entre uno y otro*/
@for $x from 1 through 5 {
  .nav__item:nth-child(#{$x}) {
    -webkit-transition-delay: $x * 0.1s;
    -o-transition-delay: $x * 0.1s;
    transition-delay: $x * 0.1s;
  }
}

/*** FIN sección funciones de animaciones ***/
