/*** Content de las media querys ***/

/* En este archivo incluimos todo lo que debe hacer el navegador dependiendo del tamaño de la pantalla
* esto luego lo implementaremos en el archivo de variables&mixins.scss */

/*** Media query para pantallas grandes ***/
@include mediaQueryExtraLarge {
  /* Organiza el contenido en una plantilla grid en 4 columnas de 1fr */
  .work__projects {
    -ms-grid-columns: (1fr) [4];
    grid-template-columns: repeat(4, 1fr);
  }
}
/*** Media query para pantallas grandes ***/
@include mediaQueryLarge {
  /* Organiza el contenido en una plantilla grid en 3 columnas de 1fr */
  .work__projects {
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
  }
}
/*** Media query para pantallas medias ***/
@include mediaQueryMedium {
  main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    .heading__text {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  ul.menu__nav,
  aside.menu__branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .menu__nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu__branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    .portrait {
      background-size: cover;
      background-position: 49%, 0;
      width: 150px;
      height: 150px;
    }
  }
  .about__info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .work__projects {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
}
/*** Media query para pantallas pequeñas ***/
@include mediaQuerySmall {
  main.home h1 {
    margin-top: 10vh;
  }
  .work__projects {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@include mediaQueryPrint {
  @page {
    size: A4;
    &:left {
      margin-left: 3cm;
    }
    &:right {
      margin-left: 4cm;
    }
  }
  .header__logo {
    visibility: hidden;
  }
  .heading__text {
    color: black;
    &-secondary {
      color: $secondary-color;
    }
  }
  .heading__subtext {
    color: black;
  }
  .icons {
    visibility: hidden;
  }
  .menu,
  .menu__branding,
  .portrait,
  .menu__nav,
  .nav__item {
    visibility: hidden;
  }
  .about__info {
    display: -ms-grid;
    display: grid;
    grid-template-areas:
      "bio"
      "job1"
      "job2"
      "job3";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .about__info__img {
    visibility: hidden;
  }
  .btn-light {
    visibility: hidden;
  }
  .btn-dark {
    visibility: hidden;
  }
  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }
  .heading__text-secondary {
    color: black;
  }
  em {
    color: $secondary-color;
  }
}
