/*** Variables ***/
$primary-color: rgb(70, 63, 63);
$secondary-color: #72ffdf;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.7;
/*** FIN Variables ***/

/*** Mixins ***/
@mixin easeOut {
  /* Suaviza los efectos de transición */
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@mixin background {
  /* En este mixin comprobamos si la variable $show-home-image esta a true */
  @if $show-home-image {
    /* Si es true pone la imagen declarado en $home-image , posición fija y que cubra toda el bloque*/
    &.body__img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      &:after {
        /* Aquí lo que usamos es un selector after, vacío para ponerle una capa intermedia entre el fondo y el contenido de la
                * página, y haciendolo opca para que podamos ver el fondo
                * Hay diversas formas de hacer esto, otra forma sería generar un elemento vacío en el HTML y añadiendole una clase
                * definiriamos todos los atributos CSS y listo, pero de esta forma nos evitamos crear ese elemento
                */
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        /* Con esto conseguimos un fondo degradado de izquierda a derecha, con opacidad, de un color gris hacia un color más negro */
        background: linear-gradient(70deg, rgba($primary-color, $background-opacity), black);
      }
    }
  }
}

/*** Media querys mixins ***/
/* Aquí tenemos la sección de media querys, donde hacemos la comprobación del tamaño de la pantalla
* el @content esta todo especificado en el archivo @_responsive.scss
*/
@mixin mediaQuerySmall {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaQueryMedium {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaQueryLarge {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaQueryExtraLarge {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
/* Esta media query es para la impresión de pantalla */
@mixin mediaQueryPrint {
  @media print {
    @content;
  }
}
/*** FIN media query mixins ***/
/*** FIN mixins ***/

/*** Funciones ***/

/* Aquí generamos una función que lo que hace, esque le pasamos el color que tenemos actualmente cubriendo el contenedor
* Y lo que hacemos esque si es un color claro, nos retornará un color negro, si es un color oscuro, nos retornará un color blanco
* Esta función la usamos para cuando por ejemplo hacemos un :hover de un elemento y cambia de color, automáticamente el detecte
* que se cambia el color del fondo, para adaptar el color de la letra y que siempre sea legible, es una forma de hacer nuestra web
* más Accesible a los usuarios y que no tengan problemas de lectura
*/
@function set-text-color($color) {
  /* Operador ternario 
    * La siguiente estructura es lo mismo que un @if, @else, solo que lo hemos adaptado a los operadores ternarios
    * que se han creado en JS, donde le ponemos la condición, si se cumple, devuelve el primer valor y en caso negativo el segundo
    */
  @return if(lightness($color) >40, #000, #fff);
}
/*** FIN funciones ***/

/*** Botones ***/

/* Esto no son variables ni mixins pero son unos botones generados, que alomejor podemos reutilizar por eso los he dejado
* en esta hoja
*/
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}
/* Como los dos botones tienen la misma base lo que hacemos esque primera declaramos el boton y luego añadimos el @extend para
* indicar que hereda esas propiedades
* realmente se podria hacer de otra forma como por ejemplo
*    .btn{
*        display: block;
*        padding: 0.5rem 1rem;
*        border: 0;
*        margin-bottom: 0.3rem;
*        &:hover{
*            background: $secondary-color;
*            color: set-text-color($secondary-color);
*        }
*        &-dark{
*            @extend .btn;
*            background: darken($primary-color, 50);
*            color: #fff;
*            &:hover{
*               background: $secondary-color;
*               color: set-text-color($secondary-color);
*           }
*        }
*        &-light{
*            @extend .btn;
*            background: lighten($primary-color, 50);
*            color: #333;
*            &:hover{
*               background: $secondary-color;
*               color: set-text-color($secondary-color);
*           }
*        }
*    }
* Con esto conseguimos ahorrarnos un par de lineas, porque automaticamente los botones heredan el selector :hover
* y no hay que especificarlo
*/

/*** FIN botones ***/
