/* Importamos las variables, los mixins, las funciones */
@import "variable&mixins";
/* Importamos el CSS del menu */
@import "menu";

@import "index";
@import "form";
/* Aquí está el CSS que será igual para todas las páginas*/
* {
  /*Aquí definimos que todos los elementos tengo el box-sizing: border-box
  * Se puede hacer así o se puede crear un mixin para ello e introducirlo en todos los elementos que lo necesiten*/
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  /* importamos el mixin background para establecer el fondo */
  @include background();
  /* Declaramos el color del fondo*/
  background: $primary-color;
  /* Invocamos la función que comprueba el color primario, si es un color oscuro, asigna el color de la letra blanca y 
  * si por el contrario es un color claro, asigna un color de letra negro */
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  /* Establecemos el font family de la página */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* Aquí establecemos la distancia entre lineas */
  line-height: 1.5;
}
h1,
h2,
h3 {
  margin: 0;
  /* Ancho de la letra */
  font-weight: 400;
  &.heading__text {
    /* Tamaño de la letra al ser un tamaño relativo, este se multiplicará por el tamaño de la letra
    * es decir si el tamaño de letra son 10px se multiplicará por el valor que le damos a continuación*/
    font-size: 6rem;
  }
  &.heading__subtext {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.heading__text-secondary {
  color: $secondary-color;
}
main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &.home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

@import 'about';

@import 'work';

@import 'contact';

/*** Footer ***/

.footer{
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

/*** FIN Footer ***/

@import "responsive";